<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/cybersecurity_img.webp')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="login-box">
        <h2>SQLi_ARMOR</h2>
        <div style = "text-align: center; color:white">SQL Injection Detection System</div><br>
        <p>Welcome <b>{{username}}</b>,</p><hr><br>
    </div>
</body>

</html>