<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/cybersecurity_img.webp')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="login-box">
        <h2>Login Page</h2>
        <form method='post' action='/index' novalidate>
            <div class="user-box">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <!--label for="sqlquery">Type Your Query Here</label-->
            </div>
            <button id="a">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                LOGIN
            </button>
        </form>
        <p>{{msg}}</p><hr><br>
        <div style = "text-align: right">secured by <b>SQLi_ARMOR</b></div>
    </div>
</body>

</html>